[package]
name = "redshirt-standalone-kernel"
version = "0.1.0"
license = "GPL-3.0-or-later"
authors = ["Pierre Krieger <pierre.krieger1708@gmail.com>"]
edition = "2018"
publish = false

[dependencies]
atomic = { version = "0.4.6", default-features = false }
blake3 = { version = "0.3.7", default-features = false }
crossbeam-queue = { version = "0.3.0", default-features = false, features = ["alloc"] }
derive_more = "0.99.11"
either = { version = "1.6.1", default-features = false }
fnv = { git = "https://github.com/dflemstr/rust-fnv", default-features = false }    # TODO: https://github.com/servo/rust-fnv/pull/22
futures = { version = "0.3.2", default-features = false, features = ["alloc"] }
hashbrown = { version = "0.9.1", default-features = false }
lazy_static = "1.4"
libm = "0.2.1"
linked_list_allocator = { version = "0.8.2", features = ["alloc_ref"] }
nohash-hasher = { version = "0.2.0", default-features = false }
rand_chacha = { version = "0.2.1", default-features = false }
rand_core = { version = "0.5.1", default-features = false }
# TODO: needs https://github.com/rust-random/rngs/pull/5
rand_jitter = { git = "https://github.com/tomaka/rngs", branch = "new-with-timer-less-cumbersome", default-features = false }
redshirt-core = { path = "../../core", features = ["nightly"] }
redshirt-hardware-interface = { path = "../../interfaces/hardware", default-features = false }
redshirt-interface-interface = { path = "../../interfaces/interface", default-features = false }
redshirt-kernel-log-interface = { path = "../../interfaces/kernel-log", default-features = false }
redshirt-log-interface = { path = "../../interfaces/log", default-features = false }
redshirt-pci-interface = { path = "../../interfaces/pci", default-features = false }
redshirt-random-interface = { path = "../../interfaces/random", default-features = false }
redshirt-syscalls = { path = "../../interfaces/syscalls", default-features = false }
redshirt-time-interface = { path = "../../interfaces/time", default-features = false }
rlibc = "1.0.0"
smallvec = { version = "1.4.2", default-features = false }
spinning_top = "0.1.0"

[build-dependencies]
rusttype = "0.8.2"

[target.'cfg(target_arch = "x86_64")'.dependencies]
acpi = "0.8.0"
crossbeam-utils = { version = "0.7.2", default-features = false }
multiboot2 = "0.9.0"
rdrand = { version = "0.7.0", default-features = false }
x86_64 = "0.12.2"
