[package]
name = "nametbd-standalone-kernel"
version = "0.1.0"
license = "GPL-3.0-or-later"
authors = ["Pierre Krieger <pierre.krieger1708@gmail.com>"]
edition = "2018"
publish = false

[dependencies]
compiler_builtins = { version = "0.1.21", features = ["mem"] }
futures = { version = "0.3.1", default-features = false }
libm = "0.1.2"
nametbd-core = { path = "../../core" }
nametbd-stdout-interface = { path = "../../interfaces/stdout" }
nametbd-x86-stdout = { path = "../x86-stdout" }
parity-scale-codec = { version = "1.0.5", default-features = false }
slab_allocator = "0.3.5"

[build-dependencies]
cc = "1.0"

[target.'cfg(target_arch = "x86_64")'.dependencies]
multiboot2 = "0.8.1"
